
JAVA/TP_TAROT/Projet/.idea/vcs.xml
JAVA/TP_TAROT/Projet/.idea/libraries/gson_2_6_21.xml
JAVA/TP_TAROT/Projet/.idea/compiler.xml
JAVA/TP_TAROT/Projet/.idea/Projet.iml
JAVA/TP_TAROT/Projet/.idea/compiler.xml
JAVA/TP_TAROT/Projet/.idea/compiler.xml
*.xml
